{% extends "base.html" %}
{% block content %}
<section class="about animate-fade-in-up">
  <h2>About Me</h2>
  <p>
    Passionate <strong>Business Intelligence Developer</strong> with a strong interest in technology and data analytics. 
    Experienced in <strong>Tableau, Power BI, SQL, and BI architecture</strong>. 
    Skilled in designing scalable dashboards and automating data processes across banking, retail, and telecom industries.
  </p>

  <div class="personal-info">
    <p><b>Address:</b> Cyberjaya, Selangor</p>
    <p><b>Mobile:</b> 014–5844107</p>
    <p><b>Email:</b> <a href="mailto:khairulanam155@gmail.com">khairulanam155@gmail.com</a></p>
    <p><b>LinkedIn:</b> <a href="https://linkedin.com/in/khairulanamz" target="_blank">linkedin.com/in/khairulanamz</a></p>
  </div>
</section>
{% endblock %}
